p,
li,
a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

h1,
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#grid-size input {
    width: 45px;
}

#grid-library input {
    width: 100px;
}

.row {
    height: 11px;
}

.row:first-child .cell {
    border-top: 1px solid gray;
}

.cell {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: lightgray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

.cell:first-child {
    border-left: 1px solid gray;
}